<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>[[${artist.name}]] Artist Page</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
    </style>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.11.2/cdn/shoelace-autoloader.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.11.2/cdn/themes/light.css"/>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,600&family=Kalnia:wght@500;600&display=swap"
          rel="stylesheet">
</head>
<body>

<div class="navbar">
        <a class="logo-text" th:href="@{/users/{userId}(userId=${artist.user.userId})}">SoundOff</a>
    <ul>
        <li>[[${artist.name}]]</li>
    </ul>
    <a style="margin-left: 100px;" th:href="@{/logout}">Logout</a>
</div>
<div class="artist-header">
    <div class="artist-rating">
        <p>Artist Rating: </p>
        <span th:text="${artist.aggScore}"></span>
    </div>
</div>
<div class="" style="display: flex;flex-direction: row; justify-content:center; padding:3em;">
    <div>
        <form class="artist-edit"
              th:action="@{/users/{userId}/{artistId}(userId=${artist.user.userId}, artistId=${artist.artistId})}"
              method="post">
            <label for="name">Artist Name:</label>
            <div class="artist-field"><input type="text" th:field="${artist.name}" name="name"
                                             placeholder="Edit Artist Name"/>
            </div>
            <input type="hidden" th:field="${artist.user.userId}"/>
            <input type="hidden" th:field="${artist.aggScore}"/>
            <button class="form-buttons">Confirm changes</button>
        </form>
        <form class="artist-delete"
              th:action="@{/users/{userId}/{artistId}/delete(userId=${artist.user.userId}, artistId=${artist.artistId})}"
              method="post">
            <button class="form-buttons" type="submit">Delete Artist</button>
        </form>
    </div>
    <div>
        <form class="add-performance-form"
              th:action="@{/users/{userId}/{artistId}/add(userId=${artist.user.userId}, artistId=${artist.artistId})}"
              th:object="${performance}" method="post">
            <label for="date">Performance Date:</label>
            <input type="text" th:field="*{date}" class="datepicker" autocomplete="off" name="date"
                   placeholder="Select Date"/>
            <label for="performance-attendance">Total Attendance:</label>
            <input type="number" th:field="*{attendance}" id="performance-attendance" placeholder="Attendance"/>
            <input type="hidden" th:value="${artist.artistId}"/>
            <button style="width:75%;" type="submit" class="add-performance-button form-buttons">
                Add New Performance
            </button>
        </form>
    </div>
</div>

<div class="table-container">
    <table class="artist-performance-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Attendance</th>
            <th>Rating</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="modal hidden">
    <button class="close-modal">&times;</button>
    <h1>Edit Performance</h1>
    <div class="container form-container perfomance-edit-container">
        <form class="artist-edit performance-edit" th:data-artist-id="${artist.artistId}"
              th:data-user-id="${artist.user.userId}" action="/users/{userId}/{artistId}/{performanceId}/edit"
              method="post">
            <label for="performance-date">Performance Date:</label>
            <input class="datepicker" type="text" name="date" id="performance-date"
                   placeholder="Edit Date" autocomplete="off"/>
            <br/>
            <label for="performance-attendance">Attendance Count:</label>
            <input type="number" id="performance-attendance"
                   name="attendance" placeholder="Edit Attendance Count"/>

            <input type="hidden" id="performance-id" name="performanceId"/>
            <input type="hidden" id="performance-score" name="perfScore"/>
            <input type="hidden" id="performance-artist-id" name="artistId"/>
            <button class="form-buttons">Submit Changes</button>
        </form>
        <form class="delete-form" method="post">
            <div class="form-buttons"><button type="submit">Delete</button></div>
        </form>
    </div>
</div>
<div class="overlay hidden"></div>

<!--        <div class="display-item" th:each="performance : ${artist.performances}">-->
<!--            <a th:href="@{/users/{userId}/{artistId}/{performanceId}-->
<!--               (userId=${artist.user.userId}, artistId=${artist.artistId}, performanceId=${performance.performanceId})}"-->
<!--               th:text="${performance.date}"-->
<!--            ></a>-->
<!--        </div>-->


<script src="/js/artist.js">
</script>
</body>
</html>
