<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Artist Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <script th:inline="javascript">
        var artistId = [[${artist.artistId}]];
        var userId = [[${artist.user.userId}]];
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body class="centered">
<div class="navbar">
    <h3 class="logo-text">SoundOff</h3>
    <ul>
        <li><a th:href="@{/users/{userId}(userId=${artist.user.userId})}">Home</a></li>
    </ul>
</div>
<div>
    <h4>[[${artist.name}]]</h4>
</div>
<div>
    <form class="artist-edit"
          th:action="@{/users/{userId}/{artistId}(userId=${artist.user.userId}, artistId=${artist.artistId})}"
          method="post">
        <div class="artist-field">Name: <input type="text" th:field="${artist.name}"/></div>
        <div class="artist-field">Image: <input type="file" th:field="${artist.image}"/></div>
        <input type="hidden" th:field="${artist.user.userId}"/>
        <button class="button-3" onClick="submitForm()">Confirm changes</button>
    </form>
    <form class="artist-delete"
          th:action="@{/users/{userId}/{artistId}/delete(userId=${artist.user.userId}, artistId=${artist.artistId})}"
          method="post">
        <button class="button-3">Delete Artist</button>
    </form>
    <form>
        <div>
            Date: <input type="text" id="performance-date" autocomplete="off"/>
        </div>
        <div>
            Attendance: <input type="number" id="performance-attendance"/>
        </div>
        <input type="hidden" th:field="${artist.artistId}"/>
        <button class="button-3 add-performance-button">
            Add New Performance
        </button>
    </form>
    <div class="artist-performance-display">
        <table class="artist-performance-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Attendance</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody class="display-item" th:each="performance : ${artist.performances}">
                <tr>
                    <td>[[${performance.date}]]</td>
                    <td>[[${performance.attendance}]]</td>
                    <td>[[${performance.perfScore}]]</td>

                </tr>
            </tbody>
        </table>



<!--        <div class="display-item" th:each="performance : ${artist.performances}">-->
<!--            <a th:href="@{/users/{userId}/{artistId}/{performanceId}-->
<!--               (userId=${artist.user.userId}, artistId=${artist.artistId}, performanceId=${performance.performanceId})}"-->
<!--               th:text="${performance.date}"-->
<!--            ></a>-->
<!--        </div>-->

    </div>
</div>
<script src="/js/artist.js">
</script>
</body>
</html>
