<!DOCTYPE >
<html xmlns:th="www.thymeleaf.org">
  <head>
    <title>Create Account</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body class="flex justify-center">
    <h1>Create Your Account</h1>
    <br />
    <form class="flex items-center" action="/register" method="post">
      <div>
        <div>Username: <input th:field="${user.username}" type="text" /></div>
        <div>
          Password: <input th:field="${user.password}" type="password" />
        </div>
        <div>Full Name: <input th:field="${user.name}" type="text" /></div>
      </div>
      <div>
        <button>Create</button>
      </div>
    </form>
  </body>
</html>
