<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Artists</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,600&family=Kalnia:wght@500;600&display=swap"
          rel="stylesheet">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
    </style>
</head>
<body>
<div class="navbar">
    <a class="logo-text" th:href="@{/users/{userId}(userId=${user.userId})}">SoundOff</a>
    <a style="margin-left: 100px;" th:href="@{/logout}">Logout</a>
</div>
<div class="mobile-full table-container">
    <table class="artist-performance-table top-artist-table">
        <thead>
        <tr>
            <th>Artist Name</th>
            <th>Aggregated Score</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody th:each="artist : ${topArtists}">
        <tr class="display-item">
            <td>[[${artist.name}]]</td>
            <td>[[${artist.aggScore}]]</td>
            <td class="actions-column">
                <a th:href="@{/users/{userId}/{artistId}(userId=${artist.user.userId},
                            artistId=${artist.artistId})}">View Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>